@import 'variables';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '~sweetalert2/dist/sweetalert2';
@import '~@fortawesome/fontawesome-svg-core/styles';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

@import 'components/server-error';

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.privacy {
  .item {
    .error {
      margin-left: 1.5rem;
    }
  }
}
.confirm {
  table {
    @media (max-width: 767px) {
      display: block;
    }
    tr {
      @media (max-width: 767px) {
        display: block;
      }
      th {
        width: 40%;
        @media (max-width: 767px) {
          display: block;
          width: 100%;
          background: $blue_light;
        }
      }
      td {
        @media (max-width: 767px) {
          width: 100%;
          display: block;
        }
        img {
          max-width: 300px;
          width: 100%;
          @media (max-width: 767px) {
            max-width: 100%;
            display: block;
          }
        }
      }
    }
  }
}
.col-form-label {
  display: block;
}
.col-form-mark {
  color: #fff;
  background-color: #ff7bff;
  font-size: 0.9em;
  padding: 0 0.5rem;
  margin-left: 0.5em;
  border-radius: 9999px;
  display: inline-block;
}
.col-form-desc {
  font-size: 0.8em;
  color: grey;
  display: block;
}
.expired {
  padding: 50px 0;
  font-size: 30px;
  @media (max-width: 767px) {
    padding: 20px 0;
    font-size: 18px;
  }
}
